body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color: orange;
  border-radius: 25px;
  border-width: 0px;
  padding: 10px
}

b {
  color: orange;
}
